/* header */
#header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  transition: all 0.7s;
}

#header .inner {
  width: 70%;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;
  padding-top: 10px;
}

.logo>a {
  display: block;
  text-indent: -9999px;
  width: 45px;
  height: 70px;
  background: url('/static/images/logo.png') no-repeat;
  background-size: 100%;
}

.nav ul {
  display: flex;
  width: 120px;
  justify-content: space-around;
  line-height: 90px;
}

.nav ul li a {
  position: relative;
  font-size: 16px;
  color: #000;
}

.nav ul li a:after {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  background: #888;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}

.nav ul li a:hover::after,
.nav ul li a:focus::after {
  width: 100%;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Lato", sans-serif;
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

.nav ul {
  display: flex;
  width: 120px;
  justify-content: space-around;
  line-height: 90px;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.mb-9{
  background-color: black;
}

.input {
  border: none;
  outline: none;
}
