
{% extends 'base.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sina</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-white">
    <h1 class="text-white pl-96 mt-24 ml-96 text-4xl ">{{ camp.name }}</h1>
    <div class="row ">
        <div class="col-md-8  pl-96 pt-10 ">
            <img class="rounded-xl " src="{{ camp.img.url }} " alt="{{ camp.name}}"  style="height: 450px; width: 1100px;">
        </div>
        <div class="pl-96 text-blue-500 mt-10 mb-5  text-2xl">
            Datum : {{camp.date}}
        </div>
        <div class="col-md-4">
            <p class="text-white pl-96 pr-96">{{ camp.description }}</p>
            <br>
            <p class="text-white pl-96 text-3xl">{{ camp.name }}</p>
            <a href=" {% url 'register_camp' %}">
                <h5 class="text-blue-400 text-3xl pl-96 mt-2 mb-8">Book here</h5>
            </a>
        </div>
    </div>

   

  


{% endblock %}
