<div class="bg-white m-10 p-10 rounded-xl shadow-lg shadow-gray-500 delete-coach"
id="{{ coach.id }}" coach-name="{{ coach.customer.first_name }} {{ coach.customer.last_name }}"
coach-certified="{{ coach.certified }}">
    <div class="w-32 h-32 mr-auto ml-auto mb-6 aspect-w-1 border-solid border-4 border-gray-400 rounded-full aspect-h-1 overflow-hidden">
        <img class="object-cover w-full h-full" src="/media/{{ coach.customer.img_profil }}" alt="Image" enctype="multipart/form-data">
    </div>
    <div class="p-2 rounded-xl flex justify-between">
        <p class="font-semibold">First name: </p>
        <p class="font-semibold pl-6">{{ coach.customer.first_name }}</p>

    </div>
    <div class="p-2 rounded-xl flex justify-between">
        <p class="font-semibold">Last name:  </p>
        <p class="font-semibold pl-6">{{ coach.customer.last_name }}</p>
    </div>
    <div class="p-2 rounded-xl flex justify-between">
        <p class="font-semibold">Email:  </p>
        <p class="font-semibold pl-6">{{ coach.customer.email }}</p>
    </div>
    <div class="p-2 rounded-xl flex justify-between">
        <p class="font-semibold">Is certified:  </p>
        <p id="certified-{{ coach.id }}" class="font-semibold pl-6">{{ coach.certified }}</p>
    </div>
    <div class="flex justify-evenly items-center">
        <p id="update-{{ coach.id }}" class="text-white p-2 m-2 bg-gray-700 rounded-md px-3 border-solid border-2 font-semibold hover:border-gray-700 hover:bg-white hover:text-gray-700 hover:cursor-pointer">
            Update Coach
        </p>
        <p id="delete-{{ coach.id }}" class="text-white p-2 m-2 bg-red-700 rounded-md px-3 border-solid border-2 font-semibold hover:border-red-700 hover:bg-white hover:text-red-700 hover:cursor-pointer">
            Delete Coach
        </p>
    </div>
</div>
<div id="update-form-{{ coach.id }}" class="hidden bg-white m-10 p-10 rounded-xl shadow-lg shadow-gray-500">
    <div class="flex justify-end items-center h-min">
        <div id="close-update-{{ coach.id }}" class="bg-gray-400 px-3 h-2 rounded hover:cursor-pointer"></div>
    </div>
    <div class="w-32 h-32 mr-auto ml-auto mb-6 aspect-w-1 border-solid border-4 border-gray-400 rounded-full aspect-h-1 overflow-hidden">
        <img class="object-cover w-full h-full" src="/media/{{ coach.customer.img_profil }}" alt="Image" enctype="multipart/form-data">
    </div>
    <div class="p-2 rounded-xl flex justify-between">
        <p class="font-semibold">First name: </p>
        <p class="font-semibold pl-6">{{ coach.customer.first_name }}</p>
    </div>
    <div class="p-2 rounded-xl flex justify-between">
        <p class="font-semibold">Last name:  </p>
        <p class="font-semibold pl-6">{{ coach.customer.last_name }}</p>
    </div>
    <div class="p-2 rounded-xl flex justify-between">
        <p class="font-semibold">Email:  </p>
        <p class="font-semibold pl-6">{{ coach.customer.email }}</p>
    </div>
    <form id="update-form-{{ coach.id }}" class="m-1 ml-2 rounded-xl flex flex-col justify-center items-center" method="POST" action="" enctype="multipart/form-data" name="update_coach">
        {% csrf_token %}
        <div class="flex justify-between items-center p-2 w-full hover:bg-gray-500 hover:text-white rounded-xl">
            <p class="font-semibold">Is certified:  </p>
            <input type="checkbox" id="bool-{{ coach.id }}" name="is_certified">
        </div>
        <input class="bg-gray-200 mx-16 hover:bg-gray-600 hover:cursor-pointer hover:text-white rounded-xl w-fit px-4 py-2 font-bold" type="submit" value="Uppdate Coach">
    </form>
</div>