{% extends 'base.html' %}
{% block content %}
<div class="flex-1 flex justify-center items-center py-20 bg-gray-300 w-full">
    <div class="flex bg-gray-300 flex-col items-center">
        <div class="bg-gray-300 flex sm:flex-wrap xl:flex-nowrap justify-center mx-10 px-10 rounded-xl w-full"> 
            <div class="bg-white m-5 p-10 rounded-xl shadow-lg shadow-gray-500 h-fit">
                <h3 class="text-3xl m-1 font-semibold">Happy New Year!</h3>
                <p class="text-xl m-5 font-semibold">And all players have been mooved to their new groups</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}