{% extends 'base.html' %}
{% block content %}
<div class="flex-1 flex justify-center items-center py-20 bg-gray-300">
    <div class="flex h-full flex-col items-center justify-center">
        <h1 class="text-3xl m-10 font-bold font-sans flex justify-center items-center text-black" >
            Password reset sent
        </h1>
        <p class="text-xl mt-5 font-semibold flex justify-center items-center text-black">
            We have emailed you instructions for resetting your password,
        </p>
        <p class="text-xl m-2 font-semibold flex justify-center items-center text-black">
            if an account exists with the email you entered. You should recive them shourtly.
        </p>
        <p class="text-xl mt-5 m-2 font-semibold flex justify-center items-center text-black">
            If you don't receive an email,
        </p>
        <p class="text-xl font-semibold flex justify-center items-center text-black">
            please make sure you've entered the address you've registerd with, and check your spam folder.
        </p>
    </div>
</div>
{% endblock %}