{% extends 'base.html' %}
{% block content %}
<div class="flex-1 flex justify-center items-center py-20 bg-gray-300">
    <div class="flex h-full flex-col items-center justify-center">
        <h3 class="text-3xl m-10 font-bold font-sans flex justify-center items-center text-black">
            Password reset complete
        </h3>
        <p class="text-xl m-5 font-semibold flex justify-center items-center text-black">
            Your password has been set. You may go ahead and log in now.
        </p>
        <a class="bg-gray-200 hover:bg-gray-600 hover:text-white rounded-xl w-fit px-4 py-2 mt-1 font-bold" href="{% url 'login' %}"> log in</a>
    </div>
</div>
    {% endblock %}