{% extends 'base.html' %}
{% block content %}
<div class="flex-1 flex justify-center items-center py-20 bg-gray-300">
    <div class="flex h-full flex-col items-center justify-center">
        <h3 class="text-3xl m-10 font-bold font-sans flex justify-center items-center text-black">
            Enter new password
        </h3>
        <p class="text-xl m-5 font-semibold flex justify-center items-center text-black">
            Please enter your new password twice so we can verify you typed it in correctly.
        </p>
        <form  class="text-md m-5 font-semibold flex justify-center items-center flex-col" method="POST">
            {% csrf_token %}
            {{form}}
            <input class="bg-gray-200 hover:bg-gray-600 hover:text-white rounded-xl w-fit px-4 py-2 mt-1 font-bold" type="submit" name="Update Password">
        </form>
    </div>
</div>

    {%endblock%}