{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="flex-1 flex justify-center items-center py-20 bg-gray-300" style="font-family: Montserrat font-bold text: -2xl;">
    <div class="pt-10 flex bg-gray-300 flex-col h-full items-center justify-center">
        <div class="bg-gray-400 flex flex-wrap m-10 p-10 rounded-xl shadow-lg">
            <div class="bg-white flex p-10 mr-auto ml-auto my-5 rounded-xl shadow-lg shadow-gray-500 ">
                <div>
                    <div class="flex justify-between items-center">
                        <h3 class="text-3xl text-neutral-600 m-1 font-semibold mt-2.5">Profil</h3>
                    </div>
                    <div class="w-40 h-40 mr-auto ml-auto aspect-w-1 border-solid border-1 border-gray-400 rounded-full aspect-h-1 overflow-hidden">
                        <img class="object-cover w-full h-full" src="/media/{{ request.user.img_profil }}" alt="Image" enctype="multipart/form-data">
                    </div>
                    <div class="p-2 rounded-xl flex justify-between">
                        <p class="font-semibold text-neutral-600">First name: </p><p class="font-semibold pl-6">{{request.user.first_name}}</p>
                    </div>
                    <div class="p-2 rounded-xl flex justify-between">
                        <p class="font-semibold text-neutral-600">Last name:  </p><p class="font-semibold pl-6">{{request.user.last_name}}</p>
                    </div>
                    <div class="p-2 rounded-xl flex justify-between">
                        <p class="font-semibold text-neutral-600">Email:  </p><p class="font-semibold pl-6">{{ request.user.email }}</p>
                    </div>
                    <div class="p-2 rounded-xl flex justify-between">
                        {% if request.user.phone_number %}
                        <p class="font-semibold text-neutral-600">Phone number: </p><p class="font-semibold pl-6">{{ request.user.phone_number }}</p>
                        {% else %}
                        <p class="font-semibold text-neutral-600">Phone number: </p>
                        {% endif %}
                    </div>
                    <div class="p-2 rounded-xl flex justify-between">
                        <p class="font-semibold text-neutral-600">Adress:  </p><pre class="font-sans font-semibold pl-6 text-right">{{ request.user.address }}</pre>
                    </div>
                    <div class="flex justify-center mt-2">
                        <a class="bg-gray-200 hover:bg-gray-600 hover:text-white rounded-full w-fit px-4 py-2 mt-1 font-bold" href="{% url 'edit_profil' %}">Edit profil</a>
                    </div>
                </div>
            </div>
            {% if request.user.players.all %}
            <div class="bg-white xl:block lg:block md:block hidden m-5"></div>
            <div class="bg-white p-10 ml-auto mr-auto my-5 rounded-xl shadow-lg shadow-gray-500">
                <p class="text-3xl font-bold">Players</p>
                <div class="flex flex-wrap">
                    {% for player in request.user.players.all %}
                    <div class="bg-white m-10 ml-auto mr-auto p-10 rounded-xl shadow-lg shadow-gray-500">
                        <div class="w-40 h-40 mr-auto ml-auto aspect-w-1 border-solid border-4 border-gray-400 rounded-full aspect-h-1 overflow-hidden">
                            <img class="object-cover w-full h-full" src="/media/{{ player.img_player }}" alt="Image" enctype="multipart/form-data">
                        </div>
                        <div class="p-2 rounded-xl flex justify-between">
                            <p class="font-semibold">First name: </p><p class="font-semibold pl-6">{{player.first_name}}</p>
                        </div>
                        <div class="p-2 rounded-xl flex justify-between">
                            <p class="font-semibold">Last name:  </p><p class="font-semibold pl-6">{{player.last_name}}</p>
                        </div>
                        <div class="p-2 rounded-xl flex justify-between">
                            <p class="font-semibold">Email:  </p><p class="font-semibold pl-6">{{ player.email }}</p>
                        </div>
                        <div class="p-2 rounded-xl flex justify-between">
                            {% if player.phone_number %}
                            <p class="font-semibold">Phone number: </p><p class="font-semibold pl-6">{{ player.phone_number }}</p>
                            {% else %}
                            <p class="font-semibold">Phone number: </p>
                            {% endif %}
                        </div>
                        <div class="p-2 rounded-xl flex justify-between">
                            <p class="font-semibold">Birth Year:  </p><pre class="font-sans font-semibold pl-6 text-right">{{ player.year_of_birth }}</pre>
                        </div>
                    </div>
                    <div class="bg-white xl:block lg:block md:block hidden m-5"></div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
